.pause{
    animation-play-state: paused;
}

.play{
    animation-play-state:running;
}

.wrapperAnimationOn{
    animation-name: wrapperAnimationOn;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

.wrapperAnimationOff{
    animation-name: wrapperAnimationOff;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

@keyframes wrapperAnimationOn {
    0% {
        opacity:100%;
        box-shadow: none;
    }
    30% {
        opacity:30%;
        box-shadow: var(--box-shadow-0);
    }
    100%    {
        opacity: 100%;
        box-shadow: none;
    }
}

@keyframes wrapperAnimationOff {
    0% {
        opacity:100%;
        box-shadow: none;
    }
    30% {
        opacity:30%;
        box-shadow: var(--box-shadow-0);
    }
    100%    {
        opacity: 100%;
        box-shadow: none;
    }
}

.hiddenAnimationOn{
    animation-name: hiddenAnimationOn;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

.hiddenAnimationOff{
    animation-name: hiddenAnimationOff;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

@keyframes hiddenAnimationOn {
    0% {
        opacity:0%;
    }
    30% {
        opacity:30%;
    }
    100%    {
        opacity: 100%;
    }
}

@keyframes hiddenAnimationOff {
    0% {
        opacity:100%;
    }
    30% {
        opacity:30%;
    }
    100%    {
        opacity: 0%;
    }
}

.showAnimationOn{
    animation-name: showAnimationOn;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

.showAnimationOff{
    animation-name: showAnimationOff;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

@keyframes showAnimationOn {
    from {
    }
    to {
    }
}

@keyframes showAnimationOff {
    from {
    }
    to {
    }
}

