.wrapper{
    background-color: white;
    margin-bottom:var(--mar-xs);
    margin-left:var(--mar-xs);
    margin-right:var(--mar-xs);
    border-top:solid var(--gray) 4px;
    border-left:solid var(--gray) 2px;
    border-bottom:solid var(--gray) 1px;
    border-right:solid var(--gray) 1px;
}

.wrapperActive{
    background-color: white;
    margin-bottom:var(--mar-xs);
    margin-left:var(--mar-xs);
    margin-right:var(--mar-xs);
    border-top:solid var(--gray) 1px;
    border-left:solid var(--gray) 1px;
    border-bottom:solid var(--gray) 4px;
    border-right:solid var(--gray) 2px;
}

.show{
    display: grid;
    background-color: white;
    padding-left: var(--pad-xs);
    padding-right: var(--pad-xs);
    padding-top:var(--pad-xxs);
    padding-bottom:var(--pad-xxs);
    grid-template-columns: 2fr 7fr 1fr;
    grid-template-areas:
        'date vendor icon'
        'cost vendor icon'
    ;
}

.date{
    font-family: var(--roboto);
    font-weight: var(--font-regular);
    font-size:var(--font-xs);
    align-self:start;
    grid-area:date;
}

.vendor{
    font-family: var(--cairo);
    font-size: var(--font-md);
    font-weight: var(--font-medium);
    grid-area:vendor;
    align-self: center;
    justify-self: center;
    color:var(--main-dark);
}

.vendorActive{
    font-family: var(--cairo);
    font-size: var(--font-lg);
    font-weight: var(--font-medium);
    grid-area:vendor;
    align-self: center;
    justify-self: center;
    color:var(--orange);
}

.cost{
    font-family:var(--roboto);
    font-size:var(--font-xs);
    color:var(--main-dark);
    align-self: center;
    grid-area:cost;
}

.costActive{
    font-family:var(--roboto);
    font-size:var(--font-xs);
    color:var(--main-dark);
    align-self: center;
    grid-area:cost;
}

.icon{
    grid-area: icon;
    justify-self: end;
    align-self: center;
    color:var(--main-color);
}

.iconActive{
    grid-area: icon;
    justify-self: end;
    align-self: center;
    color:white;
}

.hidden{
    display: grid;
}

.row{
    display: grid;
    grid-template-columns: 2fr 4fr;
    align-items: center;
    padding: var(--pad-xs);
    color:var(--main-dark);
}

.row:nth-child(odd){
    background-color: var(--lightgray);
    color:black;
}

.detailName{
    justify-self: start;
    font-family:var(--roboto);
    font-size:var(--font-xs);
    /* align-self: start; */

}

.detail{
    justify-self: end;
    text-align: end;
    font-family:var(--roboto);
    font-size:var(--font-xs);
}

.actions{
    border-top:dashed gray 1px;
    display: flex;
    padding:var(--pad-sm);
    justify-content: space-between;
}

.actionIcon{
    color:var(--main-dark);
    padding:var(--p-2);
    background-color: var(--lightgray);
    border-radius: 100%;
}

.plusIcon{
    color:var(--orange);
    background-color: var(--lightgray);
    border-radius: 100%;
    padding:var(--p-2);
}
