.wrapper{
    background-color: white;
    margin-right:var(--mar-xs);
    margin-left:var(--mar-xs);
    margin-bottom:var(--mar-xs);
    border-radius: var(--radius-sharp);
}

.show{
    display: grid;
    background-color: white;
    border-radius:var(--radius-sharp);
    padding:var(--pad-xs);
    grid-template-columns: 2fr 7fr 1fr;
    grid-template-areas:
        'date vendor icon'
        'cost vendor icon'
    ;
}

.showActive{
    display: grid;
    background-color: var(--main-color);
    border-top-left-radius: var(--radius-sharp);
    border-top-right-radius: var(--radius-sharp);
    padding:var(--pad-xs);
    grid-template-columns: 2fr 7fr 1fr;
    grid-template-areas:
        'date vendor icon'
        'cost vendor icon'
    ;
}

.date{
    font-family: var(--third-font);
    font-weight: var(--font-light);
    font-size:var(--font-sm);
    align-self:start;
    grid-area:date;
}

.vendor{
    font-family: var(--secondary-font);
    font-size: var(--font-md);
    font-weight: var(--font-light);
    grid-area:vendor;
    align-self: center;
    justify-self: center;
    color:var(--main-color);
}

.vendorActive{
    font-family: var(--secondary-font);
    font-size: var(--font-md);
    font-weight: var(--font-light);
    grid-area:vendor;
    align-self: center;
    justify-self: center;
    color:white;
}

.cost{
    font-family:var(--secondary-font);
    font-size:var(--font-sm);
    font-weight: var(--font-light);
    color:var(--main-color);
    align-self: center;
    grid-area:cost;
}

.costActive{
    font-family:var(--secondary-font);
    font-size:var(--font-sm);
    font-weight: var(--font-light);
    color:white;
    align-self: center;
    grid-area:cost; 
}

.icon{
    grid-area: icon;
    justify-self: end;
    align-self: center;
    color:var(--main-color);
}

.iconActive{
    grid-area: icon;
    justify-self: end;
    align-self: center;
    color:white;
}

.hidden{
    display: grid;
}

.row{
    display: grid;
    grid-template-columns: 2fr 4fr;
    align-items: center;
    padding: var(--pad-xs);
    border-bottom: solid gray 1px;
}

.detailName{
    justify-self: start;
    font-family:var(--secondary-font);
    font-size:var(--font-sm);
    /* align-self: start; */

}

.detail{
    justify-self: end;
    text-align: end;
    font-family:var(--secondary-font);
    font-size:var(--font-sm);
}
