.list{
    margin-bottom:var(--mar-sm);
    margin-right:var(--mar-sm);
    margin-left:var(--mar-sm);
    border-radius: var(--radius-sharp);
}

.itemWrapper{
    background-color: white;
    margin-bottom:var(--mar-xs);
    display: grid;
    grid-template-columns: 1fr;
    border-radius: var(--radius-sharp);
    box-shadow: var(--box-shadow-1);
    border-left: solid white 1px;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

.itemWrapperAnimateOn{
    animation-name: itemWrapperOn;
}

@keyframes itemWrapperOn {
    0% {
        /* background-color: white; */
        border-left: solid white 1px;
        opacity: 100%;
        box-shadow: none;
    }
    20% {
        border-left: solid var(--main-dark) 3px;
        box-shadow:var(--box-shadow-0);
        opacity: 25%;
    }
    100% {
        /* background-color: var(--main-color); */
        border-left: solid var(--main-dark) 3px;
        box-shadow:var(--box-shadow-1);
        opacity: 100%;
    }
}

.itemWrapperAnimateOff{
    /* animation-name: itemWrapperOff; */
}

@keyframes itemWrapperOff {
    from {
        background-color: var(--main-color);
    }
    to {
        background-color: white;
    }
}

.itemHeader{
    display:grid;
    grid-template-areas: 
        'date icon'
        'name icon'
        'dropdown dropdown'
    ;
    
}

.date{
    grid-area: date;
    font-family: var(--roboto);
    font-size:var(--font-xs);
    padding-left: var(--pad-sm);
    padding-top:var(--pad-xs);
}

.dateActive{
    grid-area: date;
    font-family: var(--roboto);
    font-size:var(--font-xs);
    padding-left: var(--pad-sm);
    padding-top:var(--pad-xs);
}

.name{
    grid-area: name;
    font-family: var(--cairo);
    color:var(--main-dark);
    font-size:var(--font-md);
    font-weight: var(--font-light);
    padding-left: var(--pad-sm);
    padding-bottom:var(--pad-xs);
}

.nameActive{
    grid-area: name;
    font-family: var(--cairo);
    color:var(--main-dark);
    font-size:var(--font-xl);
    font-weight: var(--font-light);
    padding-left: var(--pad-sm);
    padding-bottom:var(--pad-xs);
}

.icon{
    grid-area: icon;
    align-self: center;
    justify-self:end;
    padding-right: var(--pad-sm);
    color:var(--main-dark);
}

.iconActive{
    grid-area: icon;
    align-self: center;
    justify-self:end;
    padding-right: var(--pad-sm);
    color:white;
}

.dropdown{
    display: grid;
    grid-area: 'dropdown';
    background-color: white;
    border-bottom-left-radius: var(--radius-sharp);
    border-bottom-right-radius: var(--radius-sharp);
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
        'description cost'
        'actions actions'
    ;
}

.cost{
    grid-area:cost;
    justify-self: end;
    align-self: center;
    font-family:var(--roboto);
    padding-right:var(--pad-sm);
    color:var(--orange);
    font-weight:var(--font-medium);
    font-size:var(--font-sn);

}

.description{
    grid-area:description;
    font-family:var(--roboto);
    font-weight: var(--font-light);
    padding:var(--pad-sm);
    font-size:var(--font-xs);
}

.actions{
    grid-area:actions;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    border-bottom-left-radius: var(--radius-sharp);
    border-bottom-right-radius: var(--radius-sharp);
    height: 50px;
    width: 100%;
    padding:var(--pad-md);
    color:var(--orange);
    border-top:dashed gray 1px;
}

.actionLink{
    color:var(--orange);
}