.spacer{
    height:60px;
}

.sortHeaderWrapper{
    position: relative;
}

.sortHeader{
    color:var(--main-dark);
    font-family: var(--cairo);
    font-weight:var(--font-medium);
    font-size:var(--font-md);
    padding-left: var(--pad-sm);
    margin-bottom:var(--mar-xs);
    background-color: var(--lightgray);
}
