

.header{
    grid-area:header;
    background-color: white;
    border-radius: var(--radius-sharp);
    padding: var(--pad-sm);
    display: grid;
    border-bottom: dashed gray 1px;
    grid-template-columns: 5fr 1fr;
    grid-template-areas: 
        'name date'
        'description description'

    ;
}

.headerName{
    color:var(--main-color);
    font-family: var(--cairo);
    font-weight: var(--font-medium);
    font-size: var(--font-xl);
}

.headerDate{
grid-area: date;
align-self: center;
justify-self: end;
font-family: var(--roboto);
font-size: var(--font-xs);
}

.headerDescription{
    grid-area: description;
    margin-bottom:var(--mar-sm);
    font-family: var(--roboto);
    font-size:var(--font-xs);
}

