

.header{
    grid-area:header;
    background-color: white;
    margin-left: var(--mar-sm);
    margin-right:var(--mar-sm);
    margin-bottom:var(--mar-sm);
    border-radius: var(--radius-sharp);
    box-shadow: var(--main-box-shadow);
    border-left: var(--border-0);
    padding: var(--pad-sm);
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-areas: 
        'name date'
        'description description'

    ;
}

.headerName{
    color:var(--main-color);
    font-family: var(--cairo);
    font-weight: var(--font-light);
    font-size: var(--font-xl);
}

.headerDate{
grid-area: date;
align-self: center;
justify-self: end;
font-family: var(--roboto);
font-size: var(--font-xs);
}

.headerDescription{
    grid-area: description;
    margin-bottom:var(--mar-sm);
    font-family: var(--roboto);
    font-size:var(--font-xs);
}

