.menu{
    background-color: white;
    position: fixed;
    height:100vh;
    top:0;
    width:0vw;
    z-index: var(--z-navmenu);
    visibility: hidden;
}

.item{
    font-family: var(--cairo);
    margin-left:var(--mar-md);
    margin-right:var(--mar-md);
    list-style: none;
    border-radius: var(--radius-dull);
    margin-bottom:var(--mar-md);
}

.link{
    text-decoration: none;
    display:flex;
    color:var(--main-dark);
    justify-content: center;
    border-top: solid var(--lightgray) 4px;
    border-bottom: solid var(--gray) 1px;
    border-left: solid var(--lightgray) 2px;
    border-right: solid var(--lightgray) 1px;
    /* border-radius: var(--radius-dull); */
    font-weight: var(--font-light);
    font-size:var(--font-sm);
    height:50px;
    width:100%;
    align-items: center;
}

.activeLink{
    text-decoration: none;
    display:flex;
    color:var(--orange);
    height:50px;
    justify-content: center;
    font-size:var(--font-md);
    font-weight: var(--font-medium);
    /* border-radius: var(--radius-dull); */
    width:100%;
    align-items: center;
    background-color: white;
    border-top: solid var(--gray) 1px;
    border-bottom: solid var(--gray) 4px;
    border-left: solid var(--gray) 1px;
    border-right: solid var(--gray) 2px;
    /* padding: var(--pad-sm); */
}


.topSpace{
    height:var(--nav-height);
    width: var(--nav-height);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:var(--mar-md);
}

.pause{
    animation-play-state: paused;
}

.animationOn{
    animation-play-state: running;
    animation-name: animateOn;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

.animationOff{
    animation-play-state: running;
    animation-name: animateOff;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

@keyframes animateOn {
    from {
        width:0vw;
        opacity: 0%;
        visibility: hidden;
    }
    to {
        width:66vw;
        opacity: 100%;
        visibility: visible;
    }
}

@keyframes animateOff {
    from {
        width:66vw;
        opacity: 100%;
        visibility: visible;
    }
    to {
        width:0vw;
        opacity: 0%;
        visibility: hidden;
    }
}