.graphic_0{
    height:30px;
    width:1px;
    left: calc(100% - 10px);
    background-color: var(--orange);
    position :absolute;
    display: block;
}

.graphic_1{
    height:50px;
    width:1px;
    left: calc(100% - 20px);
    background-color: var(--orange);
    position :absolute;
    display: block;
}

.graphic_2{
    height:20px;
    width:1px;
    left: calc(100% - 30px);
    background-color: var(--orange);
    position :absolute;
    display: block;
}