@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400&family=EB+Garamond:wght@500&family=Gentium+Book+Plus&family=Poppins:wght@300;400;500&family=Roboto:wght@100;300;400&display=swap');

*{
    box-sizing: border-box;
}

body, html{
    margin:0;
    padding:0;
}

h1, h2, h3, h4, h5, h6, ul, p{
    padding: 0;
    margin: 0;
}

:root{
    /*FONTS*/
    --main-font: 'EB Garamond', serif;
    --secondary-font: 'Poppins', sans-serif;
    --third-font:'Gentium Book Plus', serif;
    --roboto:'Roboto', sans-serif;
    --cairo:'Cairo', sans-serif;
    /*FONT SIZES*/
    --font-xxs: 0.7rem;
    --font-xs: 0.8rem;
    --font-sm: 1rem;
    --font-md: 1.2rem;
    --font-lg: 1.4rem;
    --font-xl: 1.75rem;
    /*FONT WEIGHTS*/
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    /*COLORS*/
    --main-light:#00B6FF;
    --main-color:#0E83FF;
    --main-dark:#0068DF;
    --main-darker:#004EBF;
    --lightgray:#e0e0e0;
    --gray:#d1d1d1;
    --red:#F23F6B;
    --orange:#C93900;
    --yellow:#F9F871;
    --green:#00884B;
    /*BOX-SHADOW*/
    --main-box-shadow:1px 3px 5px black;
    --box-shadow-0:1px 1px 20px var(--main-color);
    --box-shadow-1:1px 1px 5px black;
    --box-shadow-2:1px 1px 2px black;
    /*BORDER*/
    --border-0:solid var(--main-color) 3px;
    --border-1:solid var(--orange) 3px;
    /*PADDING*/
    --pad-xxs:0.25rem;
    --pad-xs:0.5rem;
    --pad-sm:0.75rem;
    --pad-md:1rem;
    --pad-lg:1.5rem;
    /*MARGIN*/
    --mar-xxs:0.25rem;
    --mar-xs:0.5rem;
    --mar-sm:0.75rem;
    --mar-md:1rem;
    --mar-ld:1.5rem;
    /*HEIGHT*/
    --nav-height:50px;
    /*BORDER RADIUS*/
    --radius-dull:20px;
    --radius-sharp:5px;
    /*Z-INDEX*/
    --z-navbar:99;
    --z-overlay:96;
    --z-popup:97;
    --z-navmenu:98;
}